@charset "utf-8";

.single-line {
overflow: hidden; -ms-text-overflow:ellipsis; -o-text-overflow:ellipsis; text-overflow: ellipsis; white-space: nowrap
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
   -o-transition: opacity .15s linear;
   -moz-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
 font-family: sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  color: #303030;
  background-color: #f5f5f5;
  margin:0;
  padding:0;
}
html {
    width:100%;
    margin:0;
    padding:0;
}
    *, html * {
        margin:0;
        padding:0;
        outline:none;
    }
ul {
    list-style:none;
}


/*字体图标部分*/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?i96cql');
    src:    url('../fonts/icomoon.eot?i96cql#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?i96cql') format('truetype'),
        url('../fonts/icomoon.woff?i96cql') format('woff'),
        url('../fonts/icomoon.svg?i96cql#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plun:before {
    content: "\e922";
}
.icon-xiaoxi:before {
    content: "\e923";
}
.icon-yanzheng:before {
    content: "\e924";
}
.icon-zhan:before {
    content: "\e925";
}
.icon-huodongxiaoxi:before {
    content: "\e926";
}
.icon-xiala:before {
    content: "\e927";
}
.icon-phone:before {
    content: "\e928";
}
.icon-dianying:before {
    content: "\e929";
}
.icon-dingdan:before {
    content: "\e92a";
}
.icon-shezhi:before {
    content: "\e92b";
}
.icon-piao:before {
    content: "\e92c";
}
.icon-ixiaoxi:before {
    content: "\e92d";
}
.icon-pingfen:before {
    content: "\e92e";
}
.icon-bofang:before {
    content: "\e92f";
}
.icon-pinglun:before {
    content: "\e930";
}
.icon-huiyuan:before {
    content: "\e931";
}
.icon-weixin:before {
    content: "\e915";
}
.icon-qq:before {
    content: "\e916";
}
.icon-weibo:before {
    content: "\e917";
}
.icon-iphone:before {
    content: "\e918";
}
.icon-mima:before {
    content: "\e919";
}
.icon-xuanzhong:before {
    content: "\e91a";
}
.icon-jia:before {
    content: "\e91b";
}
.icon-jian:before {
    content: "\e91c";
}
.icon-xie:before {
    content: "\e91d";
}
.icon-sanchu:before {
    content: "\e91e";
}
.icon-zuowei:before {
    content: "\e91f";
}
.icon-shijian:before {
    content: "\e920";
}
.icon-yingpian:before {
    content: "\e921";
}
.icon-dizhi:before {
    content: "\e906";
}
.icon-shuaxin:before {
    content: "\e914";
}
.icon-zhankaianniu:before {
    content: "\e907";
}
.icon-scbeijing:before {
    content: "\e908";
}
.icon-souchang:before {
    content: "\e909";
}
.icon-sou:before {
    content: "\e90a";
}
.icon-xiangkantc:before {
    content: "\e90b";
}
.icon-xiangkan:before {
    content: "\e90c";
}
.icon-pingjia:before {
    content: "\e90d";
}
.icon-zhankai:before {
    content: "\e90e";
}
.icon-xingshixin:before {
    content: "\e90f";
}
.icon-xingloukong:before {
    content: "\e910";
}
.icon-bofantubiao:before {
    content: "\e911";
}
.icon-fenxian:before {
    content: "\e912";
}
.icon-dian:before {
    content: "\e913";
}
.icon-wode:before {
    content: "\e900";
}
.icon-huodong:before {
    content: "\e901";
}
.icon-goupiao:before {
    content: "\e902";
}
.icon-zhuye:before {
    content: "\e903";
}
.icon-dianji:before {
    content: "\e904";
}
.icon-fanhui:before {
    content: "\e905";
}
